

#bg {
background-repeat: no-repeat;
background-position: center;
display: flex;
flex-wrap: wrap;
filter: drop-shadow(2px 4px 6px black);
}

/* increases size of WTW logo on nav bar */
.navbar-item img {
    max-height: 4.7rem;
}

.nav-text{
    color:whitesmoke;
     box-sizing: border-box;
     text-shadow:
         0.07em 0 black,
         0 0.07em black,
         -0.07em 0 black,
         0 -0.07em black;
}

.header-padding{
    padding-bottom: 30px;
}

footer {
    color:whitesmoke;
    box-sizing: border-box;
    

}

.checkbox{
    display:flex;
    flex-wrap: wrap;
}


.width{
    max-width: 138px;
 }


 .message-body{
     max-width: fit-content;
     color:whitesmoke;
     box-sizing: border-box;
     text-shadow:
         0.07em 0 black,
         0 0.07em black,
         -0.07em 0 black,
         0 -0.07em black;
 
 }

 .message-header{
     background-color: none;
     max-width: 135px;
     display: flex; 
     justify-content: center;
     opacity: .8;
 }

 


.card{
    border-radius: 1.25rem;
    filter: drop-shadow(2px 4px 6px black);
}

.button {
    border-radius: 10px;
    min-width: 148px;
}

.white-text{
    color:whitesmoke;
    box-sizing: border-box;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;

}

.homepage-color{
    background-color: #32498C;
}

.WtW_color{
    background-color: #F2D9C2;
}

.WtW_img {
    padding-bottom: 10px;
    width: 91%;
}

.title-width{
    max-width: fit-content;
}


@media screen and (max-width: 850px) {
    #mobile-title{
        max-width:none;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-tags{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-cast{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

